<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Welcome</h1>
    <p th:text="${helloMsg}"></p>
    <p th:each="elem : ${list}" th:text="${elem}"></p>
    <form th:object="${nameObj}" th:action="@{/save}" method="post">
        <label>Enter some text here:</label>
        <input type="text" th:field="${nameObj.text}">
<!--        <ul th:if="${#fields.hasErrors('text')}">-->
<!--            <li th:each="err : ${#fields.errors('text')}" th:text="${err}">_Input is incorrect</li>-->
<!--        </ul>-->
        <input type="submit">
    </form>
</body>
</html>